@model IEnumerable<SGMLoquinho.ApplicationServices.ViewModels.ClienteViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Meus Clientes</h1>

<p>
    <a asp-action="Create">Novo Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Celular</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ClienteId)</td>
                <td>@Html.DisplayFor(modelItem => item.NomeCliente)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.TelefoneCelular)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ClienteId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ClienteId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ClienteId })
                </td>
            </tr>
        }
    </tbody>
</table>
