@model IEnumerable<SGMLoquinho.ApplicationServices.ViewModels.RhColaboradoresViewModel>

@{
    ViewData["Title"] = "View";
}

<h1>Colaboradores</h1>

<p>
    <a asp-action="Create">Novo Colaborador</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Usuário</th>
            <th>Nome Completo</th>
            <th>Admissão</th>
            <th>Ativo</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Usuario)</td>
            <td>@Html.DisplayFor(modelItem => item.NomeCompleto)</td>
            <td>@Html.DisplayFor(modelItem => item.DataAdmissao)</td>
            <td>@Html.DisplayFor(modelItem => item.Ativo)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
